<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<title>Insert title here</title>

</head>
<body>
	User: <span sec:authentication="name">user</span>
	Role: <span sec:authentication="principal.authorities">[USER, ADMIN]</span>
	
	<table class="table table-striped">
	<tr>
		<th>Username</th>
		<th>Password Hash</th>
		<th>Role</th>
		<th>Email</th>
	</tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">käyttäjätunnus</td>
        <td th:text="${user.passwordHash}">salasanaHash</td>
        <td th:text="${user.role}">role</td>
        <td th:text="${user.email}">email</td>
    </tr>
    </table>
    
    <div sec:authorize="isAuthenticated()">
    <br/>
	<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden="true" type="submit" value="Sign out"/>
	</form>
	</div>

</body>
</html>